body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border {
  background-color: rgb(167, 197, 161);
  border-radius: 10px;
  
}
.schoolList {
  padding:10px;
}

.yearbookTitle{

  text-align: center;
}
.class-name{
  color:white;
  font-size:50px;
  font-family: "Snell Roundhand", cursive;
  font-weight: bolder;
  -webkit-text-stroke: 2px ;
  
  text-shadow:
      5px 4px 0 #715C21,
      1px 1px 0 wheat,
      5px 3px 0 black
}